# Data Tidying and Cleaning

### *Reading data from a local file

In [3]:
import pandas as pd

In [4]:
pew = pd.read_csv("data/pew.csv")

### *Exploring the dataset

In [5]:
pew.head()

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116

In [6]:
pew.tail()

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
13,Orthodox,13,17,23,32,32,47,38,42,46,73
14,Other Christian,9,7,11,13,13,14,18,14,12,18
15,Other Faiths,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,597

In [10]:
pew.columns

Index(['religion', '<$10k', '$10-20k', '$20-30k', '$30-40k', '$40-50k',
       '$50-75k', '$75-100k', '$100-150k', '>150k', 'Don't know/refused'],
      dtype='object')

In [11]:
pew.index

RangeIndex(start=0, stop=18, step=1)

In [7]:
pew.shape

(18, 11)

In [8]:
pew.dtypes

religion              object
<$10k                  int64
$10-20k                int64
$20-30k                int64
$30-40k                int64
$40-50k                int64
$50-75k                int64
$75-100k               int64
$100-150k              int64
>150k                  int64
Don't know/refused     int64
dtype: object

### *Identifying varibles: religion, salary, number of people

In [12]:
pew.describe().T

,count,mean,std,min,25%,50%,75%,max
<$10k,18.0,107.222222,168.931784,1.0,12.25,20.0,170.00,575.0
$10-20k,18.0,154.500000,255.172433,2.0,14.75,27.0,193.00,869.0
$20-30k,18.0,186.500000,309.891869,3.0,17.00,33.5,192.00,1064.0
$30-40k,18.0,183.444444,291.470354,4.0,15.75,40.0,198.75,982.0
$40-50k,18.0,171.388889,271.144446,2.0,15.00,34.0,166.75,881.0
$50-75k,18.0,288.055556,458.442436,7.0,34.25,66.5,201.50,1486.0
$75-100k,18.0,221.666667,345.078849,3.0,25.25,65.5,128.75,949.0
$100-150k,18.0,177.611111,275.679724,4.0,22.50,48.5,103.50,792.0
>150k,18.0,144.888889,205.224952,4.0,23.75,53.5,134.25,634.0
Don't know/refused,18.0,340.055556,530.523878,8.0,41.25,74.5,294.75,1529.0

### *Unpivoting the dataframe

In [17]:
pew_tidy = pew.melt(id_vars = "religion", var_name = "income", value_name = "frequency")

In [18]:
pew_tidy

                  religion              income  frequency
0                 Agnostic               <$10k         27
1                  Atheist               <$10k         12
2                 Buddhist               <$10k         27
3                 Catholic               <$10k        418
4       Don’t know/refused               <$10k         15
..                     ...                 ...        ...
175               Orthodox  Don't know/refused         73
176        Other Christian  Don't know/refused         18
177           Other Faiths  Don't know/refused         71
178  Other World Religions  Don't know/refused          8
179           Unaffiliated  Don't know/refused        597

[180 rows x 3 columns]